body{
  background-color: #222;
  background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/blackorchid.png')repeat;
  color: #DDD;
  font-family: helvetica,arial, sans-serif;
}

.fs{
  min-height: 100vh;
  height: 100%;
  width: 100%;
  margin-bottom: 10vh;
  border-bottom: 1px solid #999;
}

.highlight{
  color: #27A4DD;
}

h1,p,.goBtn{
    padding-left: 2vmax;
}

p{
  padding-top: .5em;
  color: #BBB;
  text-align: justify;
  text-justify: inter-word;
}

h1{
  font-weight: bold;
  font-size: 18vmin;
  line-height: .8;
  letter-spacing: -.06em;
  text-align: left;
  text-transform: uppercase;
  padding-top: 40vh;
}

.goBtn{
  display: block;
  width:100%;
  height:100%;
  color: #666;
  font-weight: bold;
  font-size: 10vmin;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -.07em;
  padding: .5vmax;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.btnInfo{
  font-size: 3vmin;
  text-transform: lowercase;
  letter-spacing: 0;
  font-weight: normal;
  padding-left: -10vw;
  opacity: 0;
  -webkit-transition: all .2s ease .15s;
  transition: all .2s ease .15s;
}

.goBtn:hover{
  text-decoration: none;
  padding-left: 2.5vmax;
  color: #DDD;
}

.goBtn:hover .btnInfo{
  opacity: 1;
  padding-left: 3vmin;
}

footer{
  margin-top: 10vh;
  margin-bottom: 5vh;
  padding-top: 5vh;
  width: 100%;
  text-align: center;
  color: #666;
  border-top: 1px solid #999;
}

a:focus{
  text-decoration: none;
  color: #DDD;
}
@media screen and (max-width: 768px) {
  .row{
    margin-left: 0;
  }
}