.absolute-center-vertical.left-20
  .headline 
    The mainstream call-to-action
    %br
    that you have seen
    %br
    everywhere.
    
  .subtitle Don’t forget this subtitle that is super important. 
  %button.cta Now Click Me